{:deps {org.clojure/clojure       {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.439"}
        cljs-web3-next            {:local/root "/home/jmonetta/my-projects/district0x/cljs-web3-next"}
        district0x-facts-db       {:local/root "/home/jmonetta/my-projects/district0x/district0x-facts-db"}
        re-frame-web3-fx          {:local/root "/home/jmonetta/my-projects/district0x/re-frame-web3-fx"}
        org.clojure/core.async    {:mvn/version "0.4.474"}
        datascript                {:mvn/version "0.16.6"}
        re-frame                  {:mvn/version "0.10.6"}
        re-posh                   {:mvn/version "0.3.0"}
        posh                      {:mvn/version "0.5.6-patched"}
        district0x/bignumber      {:mvn/version "1.0.3"}
        com.bhauman/figwheel-main {:mvn/version "0.1.9"}
        expound                   {:mvn/version "0.7.2-SNAPSHOT"}}
 :paths ["resources" "example-src" "target"

         ;; So figwheel can reload
         "/home/jmonetta/my-projects/district0x/district0x-facts-db/src/"
         "/home/jmonetta/my-projects/district0x/cljs-web3-next"
         "/home/jmonetta/my-projects/district0x/re-frame-web3-fx"]
 :aliases {:build-webworker {:main-opts ["-m cljs.main -co \\\"{:target :webworker}\\\" -O simple -o target/public/worker.js -c district0x-facts-db.worker"]}}}
